<?xml version="1.0" encoding="utf-8" standalone="no"?>
<application xmlns="http://ns.adobe.com/air/application/3.5">
  <id>com.yourcompany.storekitexample</id>
  <!-- Used as the filename for the application. Required. -->
  <filename>anesample</filename>
  <!-- The name that is displayed in the AIR application installer. -->
  <name>StoreKit Sample</name>
  <!-- A string value of the format <0-999>.<0-999>.<0-999> 
	It MUST be three parts separated by periods. Required. -->
  <versionNumber>2.0.0</versionNumber>
  <!-- A string value (such as "v1", "2.5", or "Alpha 1") that represents the version of the 
	application, as it should be shown to users. Optional. -->
  <versionLabel>v2.0.0</versionLabel>
  <!-- Copyright information. Optional -->
  <copyright>Copyright (C) 2011-2013 Milkman Games, LLC.  All rights reserved.</copyright>
  <!-- Settings for the application's initial window. Required. -->
  <initialWindow>
    <!-- The main SWF or HTML file of the application. Required. -->
    <content>anesample.swf</content>
    <!-- Should the app figure out which way to orient itself? -->
    <autoOrients>false</autoOrients>
    <!-- What is the standard aspect ratio, landscape or portrait? -->
    <aspectRatio>portrait</aspectRatio>
    <renderMode>cpu</renderMode>
    <fullScreen>true</fullScreen>
    <systemChrome>standard</systemChrome>
  </initialWindow>
  
 <iPhone>
	<requestedDisplayResolution>high</requestedDisplayResolution>
<InfoAdditions> 
	<![CDATA[ 
<key>UIDeviceFamily</key> 
<array> 
    <string>1</string> 
    <string>2</string> 
</array>
]]>
</InfoAdditions>
</iPhone>

  <extensions>
    <extensionID>com.milkmangames.extensions.StoreKit</extensionID>
  </extensions> 
</application>